@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

body {
    background-color: #ffffff;
    font-family: 'PT Serif Caption', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Carrois Gothic', sans-serif;
}

h1 {
    color: black;
    text-decoration:underline;
}

article {
    max-width:700px;
    height:900px;
    padding:30px;
    padding-top:20px;
    border:0;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: #ffffff;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(2.8deg);
     -moz-transform: rotate(2.8deg);
       -o-transform: rotate(2.8deg);
      -ms-transform: rotate(2.8deg);
          transform: rotate(2.8deg);
}

h2 {
    color: black;
    font-family: courier, monospace;
    font-size: 14px;
    text-decoration:underline
}
/* this is a class selector */
.banner {
    margin-bottom: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    background-color: #ffffff;
}

/* this is a type selector */
p {
    color: black;
    font-size: 16px;
}

img {
    border: 5px solid #000000;
}

/* descendent selector; paragraphs inside of aside elements should be smaller than standard text */
aside p {
    font-size: 12px;
 
}

aside {
    width: 30%;
    float: right;
    margin-left: 5%;
    border: 1px solid black;
}

aside img {
    width: 100%;
}


@media (max-width: 600px) {

    aside {
        width: 45%;
    }
    
}

